@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2"); }

body {
  color: #283645;
  font: 14px/1.66 "Open Sans", Arial, "sans-serif"; }

button {
  outset: none;
  border: none;
  background-color: transparent;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #263341; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #d22856; }
  a:hover {
    color: #263341;
    text-decoration: underline; }
  a:active {
    color: rgba(210, 40, 86, 0.3); }

h1,
h2 {
  font-weight: normal; }

.header {
  color: white;
  text-align: center;
  background: #263341 url(../img/bg-back-mobile@1x.jpg) no-repeat 50%;
  background-size: cover; }

.header__hand-mobile {
  width: 258px;
  height: 286px;
  margin: 0 auto;
  margin-top: 105px; }

.header__intro-text {
  padding-top: 36px;
  padding-bottom: 65px;
  width: 240px;
  margin: 0 auto; }
  .header__intro-text h1 {
    font-family: "Open Sans Light", Arial, "sans-serif";
    font-size: 24px;
    color: #fff;
    line-height: 1.3; }
  .header__intro-text--form-page {
    padding-top: 7px;
    padding-bottom: 36px; }

.menu {
  width: 100%; }
  .menu--opened {
    background-color: #263341; }
  .menu--closed {
    background-color: rgba(29, 38, 49, 0.6); }

.menu__logo {
  padding: 20px;
  padding-bottom: 25px;
  text-align: left;
  top: 0; }

.menu__logo-svg--tablet {
  display: none; }

.menu__logo-svg--desktop {
  display: none; }

.menu__logo-svg--mobile {
  display: block; }

.menu__logo-svg:hover .menu__logo-color {
  fill: #d22856; }

.menu__logo-svg:active .menu__logo-color {
  fill: #fff;
  opacity: .3; }

.menu__toggle {
  position: absolute;
  right: 20px;
  top: 19px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0;
  z-index: 60; }
  .menu__toggle:hover .menu__toggle-fill {
    fill: #d22856; }
  .menu__toggle:active .menu__toggle-fill {
    opacity: .3; }

.menu--opened .menu__toggle-closed {
  display: none; }

.menu--closed .menu__toggle-opened {
  display: none; }

.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: #263341; }

.menu__item {
  text-transform: uppercase;
  border-top: 1px solid #1d2631;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15); }
  .menu__item:last-child {
    border-bottom: 1px solid #1d2631; }
  .menu__item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 16px 0;
    font-family: "Open Sans Bold", Arial, "sans-serif";
    font-size: 18px;
    line-height: 32px; }
    .menu__item a:hover {
      color: #d22856; }
    .menu__item a:active {
      opacity: .3; }

.menu--nojs .menu__toggle-closed,
.menu--nojs .menu__toggle-opened {
  display: none; }

.app-download {
  background-color: #1d2631; }

.app-download__inner {
  width: 280px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 18px; }

.app-download__intro-text {
  width: 235px;
  line-height: 60px;
  margin: 0 auto 48px auto; }
  .app-download__intro-text--hide-mobile {
    display: none; }
  .app-download__intro-text h1 {
    margin-top: 20px; }

.app-download__list {
  margin-bottom: 20px;
  display: flex;
  font-size: 0;
  width: 205px;
  margin-left: auto;
  margin-right: auto; }

.app-download__item {
  height: 57px;
  width: 57px; }
  .app-download__item--apple {
    background: url(../img/logo-apple.svg) center no-repeat; }
  .app-download__item--android {
    background: url(../img/logo-android.svg) center no-repeat;
    margin: 0 35px; }
  .app-download__item--microsoft {
    background: url(../img/logo-microsoft.svg) center no-repeat; }

.app-download__link {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  line-height: 1;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 15px 0;
  text-align: center;
  display: block;
  width: 280px;
  margin-bottom: 32px;
  background-color: transparent; }
  .app-download__link:hover {
    background-color: #fff;
    color: #d22856;
    text-decoration: none; }
  .app-download__link:active {
    color: rgba(210, 40, 86, 0.3); }

.app-download__desc {
  font-family: "Open Sans Light", Arial, "sans-serif";
  font-size: 14px;
  line-height: 24px; }

.info-app {
  text-align: center;
  padding-top: 37px; }

.info-app__title {
  font-family: "Open Sans Light", Arial, "sans-serif";
  font-size: 24px;
  width: 280px;
  margin: 0 auto;
  background-color: #FFF;
  text-align: center;
  margin-bottom: 37px;
  line-height: 1.33; }

.info-app__sub-title {
  display: block;
  padding-top: 23px; }

.info-app__inner-brown-bg {
  background: #f2f2f2 url(../img/bg-triangle-white.svg) no-repeat;
  background-size: contain; }

.info-app__inner {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .info-app__inner:after {
    content: "";
    display: table;
    clear: both; }

.info-app__text-list {
  padding-top: 63px;
  margin-bottom: 10px; }

.info-app__text {
  margin-bottom: 33px; }
  .info-app__text:last-child {
    padding-bottom: 0; }
  .info-app__text p {
    font-size: 14px;
    margin-top: 0;
    line-height: 24px; }

.info-app__text-title {
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #000; }

.info-app__screen-mobile {
  height: 280px;
  overflow: hidden; }

.info-app__img {
  display: none; }

.form-page {
  padding-top: 33px; }

.form-page__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;
  text-align: center; }
  .form-page__title h2 {
    line-height: 30px;
    font-size: 14px;
    font-weight: normal; }

.form-page__sub-title {
  display: none; }

.form {
  display: flex;
  flex-direction: column; }

.form__fieldset {
  border: none;
  padding-top: 5px;
  position: relative; }
  .form__fieldset--initials {
    padding-bottom: 43px; }
  .form__fieldset--contacts {
    padding-top: 20px;
    padding-bottom: 54px; }
  .form__fieldset--app {
    background-color: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 50px;
    margin-bottom: 20px; }
  .form__fieldset--progress {
    margin-bottom: 0;
    padding-top: 123px;
    background-color: #f2f2f2; }
  .form__fieldset--textarea {
    padding-top: 27px;
    margin-bottom: 28px; }
  .form__fieldset > legend {
    display: table;
    float: none;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 45px; }
  .form__fieldset > .form__legend-style--textarea {
    top: 20px; }
  .form__fieldset > .form__legend-style--show {
    display: none; }

.form__container {
  width: 280px;
  margin: 0 auto; }

.form__field-inner {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column; }
  .form__field-inner:last-child {
    margin-bottom: 0; }
  .form__field-inner--initials {
    margin-bottom: 6px; }

.form__input-text {
  flex-grow: 1;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  width: 280px;
  outline: none; }
  .form__input-text:hover {
    border-color: #263341; }
  .form__input-text:focus {
    border-color: #d22856;
    outset: none; }

.form__legend-style {
  color: #d22856;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center; }

.form__input-title {
  color: #d22856;
  text-transform: uppercase;
  padding: 7px 22px;
  display: block;
  font-size: 14px;
  line-height: 30px; }

.form__checkbox-progress {
  display: none; }

.form__checkbox-progress + .form__label-progress {
  cursor: pointer; }

.form__label-progress {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 52px;
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 70px; }
  .form__label-progress:first-child {
    margin-top: 77px; }
  .form__label-progress:last-child {
    margin-bottom: 43px; }

.form__checkbox-progress + .form__label-progress::before {
  content: "";
  position: absolute;
  left: 0;
  width: 39px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: 2px solid #e5e5e5; }

.form__checkbox-progress:checked + .form__label-progress::before {
  background: url(../img/icon-yes-checkbox.svg) center no-repeat; }

.form__checkbox-progress + .form__label-progress:hover::before {
  border: 2px solid #283645; }

.form__checkbox-progress + .form__label-progress:active::before {
  background: url(../img/icon-yes-checkbox.svg) center no-repeat;
  border: 2px solid #d22856; }

.form__checkbox-progress:checked + .form__label-progress:hover::before {
  border: 2px solid #283645; }

.form__checkbox-progress:checked + .form__label-progress:active::before {
  border: 2px solid #d22856; }

.form__radio-app {
  display: none; }

.form__label-radio {
  display: block;
  font-size: 18px;
  margin-bottom: 46px;
  cursor: pointer; }
  .form__label-radio:first-of-type {
    margin-top: 71px; }

.form__radio-app + .form__label-radio {
  position: relative;
  padding-left: 70px; }

.form__radio-app + .form__label-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 39px;
  height: 39px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  margin-right: 30px; }

.form__radio-app + .form__label-radio:hover::before {
  border: 2px solid #283645; }

.form__radio-app + .form__label-radio:active::before {
  border: 2px solid #d22856;
  background-color: #d22856;
  box-shadow: inset 0px 0px 0 10px #fff; }

.form__radio-app:checked + .form__label-radio::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 12px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  background-color: #d22856;
  border-radius: 50%; }

.form__radio-app:checked + .form__label-radio:active::after {
  background-color: #fff;
  width: 22px;
  height: 22px; }

.form__textarea {
  color: #283645;
  border: 2px solid #E6E6E6;
  resize: none;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  margin-top: 35px;
  outline: none; }

.form__text-required {
  text-transform: uppercase;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  display: block; }
  .form__text-required i {
    color: #d22856; }

.form__notice {
  width: 320px;
  position: fixed;
  top: 0;
  right: 50%;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 0 13px 15px -5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  margin-top: 50px;
  padding-top: 47px;
  display: none; }
  .form__notice--failure {
    padding-bottom: 50px; }

.form__inner-notice {
  width: 320px;
  margin: 0 auto; }

.form__notice-title {
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  line-height: 1.33;
  color: #000;
  margin-bottom: 40px; }

.form__notice-text {
  width: 265px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 40px; }

.form__notice-brown-bg {
  background-color: #f2f2f2;
  padding-top: 48px;
  padding-bottom: 52px; }

.form-button {
  display: block;
  background-color: #00AC6A;
  border: none;
  color: #fff;
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 17px 20px;
  text-transform: uppercase;
  width: 280px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; }
  .form-button--notice {
    margin-bottom: 0; }
  .form-button--disabled {
    background-color: #E6E6E6; }
  .form-button:hover {
    background-color: #1c9b5e; }
  .form-button:active {
    color: rgba(229, 229, 229, 0.3); }

.gallery {
  margin-top: 46px; }

.gallery__text {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  font-size: 18px;
  width: 245px; }
  .gallery__text p {
    font-size: 14px;
    line-height: 30px; }

.gallery__caption {
  width: 280px;
  margin: 0 auto;
  position: relative; }
  .gallery__caption::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 36px;
    text-transform: uppercase;
    background-color: #d22856;
    vertical-align: middle;
    text-align: center;
    font-family: "Open Sans Bold", Arial, "sans-serif";
    font-size: 12px;
    line-height: 36px;
    color: #fff; }

.gallegy__photo-day img {
  width: 100%;
  margin-bottom: -6px; }

.gallery__list {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.gallery__note {
  margin-bottom: 20px;
  width: 280px; }
  .gallery__note--day {
    width: 100%; }

.gallery__photo {
  padding: 0;
  margin-bottom: -6px;
  display: block; }
  .gallery__photo img {
    width: 100%; }

.gallery__post {
  background: #f2f2f2;
  padding: 18px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  line-height: 24px; }
  .gallery__post--day {
    width: 280px;
    margin: 0 auto;
    width: 280px; }

.gallery__comment p {
  margin-top: 0;
  margin-bottom: 8px; }

.gallery__autor {
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 14px; }

.gallery__time {
  font-family: "Open Sans Light", Arial, "sans-serif";
  font-size: 12px;
  color: #9a9ea2; }

.gallery__like {
  display: flex;
  align-items: center;
  color: #d22856;
  margin-top: auto;
  position: relative;
  width: 100%; }
  .gallery__like--day {
    height: 23px; }

.gallery__like-heart {
  margin-right: 15px;
  width: 14px;
  height: 12px;
  background: url(../img/icon-heart.svg) no-repeat center; }

.price {
  background: #f2f2f2 url(../img/bg-triangle-white.svg) no-repeat;
  background-size: contain;
  padding-top: 92px;
  padding-bottom: 43px; }
  .price td,
  .price th {
    padding: 13px 25px 16px 22px;
    border: 2px solid #e5e5e5;
    line-height: 30px; }
  .price th {
    border-top: none;
    border-bottom: none; }

th.price__tariff-option {
  padding: 17px 25px 17px 25px; }

.price__hide-td {
  border: none;
  display: none; }

.price__inner {
  width: 320px;
  overflow: hidden;
  margin: 0 auto; }

.price__table {
  padding-top: 50px;
  margin-bottom: 31px;
  text-transform: uppercase;
  width: 840px; }
  .price__table--active {
    transform: translateX(-30.8%); }

.price__item {
  white-space: nowrap;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 30px; }
  .price__item--hide {
    display: none; }

.price__tariff-option {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: #263341;
  text-align: center;
  color: #fff;
  width: 280px;
  border-bottom: none;
  position: relative;
  overflow: hidden; }
  .price__tariff-option--standart::before {
    content: "";
    position: absolute;
    left: -33px;
    height: 25px;
    width: 112px;
    background-color: #d22856;
    transform: rotate(135deg); }
  .price__tariff-option--standart::after {
    content: "хит";
    position: absolute;
    transform: rotate(-45deg);
    line-height: 30px;
    left: 13px;
    top: 12px;
    z-index: 2; }

.price__tarrif-name {
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  display: block;
  line-height: 30px; }

.price__tarrif-value {
  font-family: "Open Sans Light", Arial, "sans-serif";
  font-size: 24px;
  line-height: 30px; }

.price__checked {
  border-top: none; }
  .price__checked--yes {
    background: url(../img/icon-yes.svg) 93% center no-repeat;
    background-size: 31px 21px; }
  .price__checked--no {
    background: url(../img/icon-no.svg) 91.9% 45.6% no-repeat;
    background-size: 27px 26px; }

.research {
  display: none; }

.reivew {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 37px;
  padding-top: 25px; }

.reivew__list {
  list-style-type: none;
  padding: 0; }

.reivew__item {
  text-align: center; }

.reivew__arrow-control {
  display: none; }

.reivew__autor-inner {
  padding-bottom: 12px; }

.reivew__article {
  margin: 0;
  line-height: 30px; }

.reivew__autor-name {
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-style: normal; }

.reivew__autor-info {
  display: none;
  font-size: 14px;
  line-height: 30px; }

.reivew__controller {
  margin-top: 26px; }

.slider-control {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.slider-control__toggle {
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 14px;
  cursor: pointer; }
  .slider-control__toggle--active {
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 3px solid #283645; }
  .slider-control__toggle:hover:not(.slider-control__toggle--active) {
    background-color: #283645; }
  .slider-control__toggle:active {
    opacity: .1; }

.upload-btn {
  display: block;
  text-align: center;
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  color: #d22856;
  border: 3px solid #d22856;
  margin: 12px auto;
  border-radius: 50px;
  padding: 10px 0;
  width: 280px;
  background-color: #FFF;
  outline: none; }
  .upload-btn:last-child {
    margin-bottom: 0; }
  .upload-btn:hover {
    background-color: #d22856;
    color: #fff; }
  .upload-btn:active {
    color: #e07e94; }
  .upload-btn--cancel {
    border: 3px solid #283645;
    color: #283645;
    opacity: .1; }
    .upload-btn--cancel:hover {
      opacity: .3;
      background-color: #fff;
      color: #283645; }
    .upload-btn--cancel:active {
      background-color: #283645;
      color: #fff; }

.upload-photo {
  background: #f2f2f2; }

.upload-photo__title {
  text-align: center;
  background-color: #fff;
  padding-bottom: 43px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 22px; }

.upload-photo__inner {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px; }

.upload-photo__img-prew {
  margin-bottom: 38px; }
  .upload-photo__img-prew img {
    height: 100%;
    width: 100%; }

.upload-photo__filter-list {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 73px;
  padding-bottom: 40px;
  position: relative; }

.upload-photo__filter-item {
  display: flex;
  align-items: center; }

.upload-photo__filter-icon--cut {
  width: 44px;
  height: 44px; }

.upload-photo__filter-icon--fill {
  width: 48px;
  height: 43px; }

.upload-photo__filter-icon--brightness {
  width: 32px;
  height: 32px; }

.upload-photo__icons-svg {
  width: 100%;
  height: 100%; }
  .upload-photo__icons-svg:hover .upload-photo__icons-color--disabled {
    opacity: .5; }

.upload-photo__icons-color {
  fill: #d22856; }
  .upload-photo__icons-color--disabled {
    fill: #263341;
    opacity: .3; }

.upload-photo__range {
  width: 240px;
  height: 2px;
  background: #263341;
  position: relative; }
  .upload-photo__range--active {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translateX(-50%); }
  .upload-photo__range--closed {
    display: none; }

.upload-photo__range-circle {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 33px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer; }
  .upload-photo__range-circle:active {
    background-color: #d22856; }

.contacts {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 44px; }
  .contacts p {
    font-family: "Open Sans Light", Arial, "sans-serif";
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 1.2; }

.contacts__tel,
.contacts__mail,
.contacts__address {
  width: 260px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px; }

.contacts__address {
  margin-bottom: 0; }

.contacts__title {
  font-family: "Open Sans Bold", Arial, "sans-serif";
  font-size: 18px;
  display: block;
  font-weight: normal; }

.contacts__text {
  color: #d22856;
  text-decoration: none;
  font-family: "Open Sans Light", Arial, "sans-serif";
  font-size: 24px;
  line-height: 1.2; }

.map {
  height: 200px;
  background: #ECE4C8 url(../img/bg-map-mobile@1x.png) no-repeat center;
  position: relative; }

.map__bg-triangle {
  position: absolute;
  height: 33px;
  top: -1px;
  right: 0;
  left: 0;
  background: url(../img/bg-triangle-white-footer.svg) top center no-repeat;
  background-size: auto 100%;
  z-index: 2; }

.footer {
  width: 280px;
  margin: 0 auto;
  display: none;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer--show {
    display: block; }
  .footer--hide {
    display: none; }

.footer__logo {
  width: 150px; }

.footer__logo-svg {
  width: 150px;
  height: 40px; }
  .footer__logo-svg:hover path {
    fill: #d22856; }
  .footer__logo-svg:active .footer__logo-svg-letter {
    fill: #263341; }
  .footer__logo-svg:active {
    opacity: .3; }

.footer__logo-desktop {
  display: none; }

.footer__copy {
  width: 135px;
  height: 50px;
  font-size: 14px; }
  .footer__copy span {
    line-height: 50px;
    vertical-align: middle;
    font-size: 14px; }

.footer__copy-logo-svg {
  width: 43px;
  height: 50px;
  vertical-align: middle; }
  .footer__copy-logo-svg:hover path {
    fill: #263341; }
  .footer__copy-logo-svg:active path {
    fill: #263341;
    opacity: .3; }

.soc {
  width: 180px;
  margin: 40px 0; }

.soc__link {
  display: inline-block;
  font-size: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  border: 3px solid #e9ebec;
  border-radius: 50%; }
  .soc__link:nth-child(3n) {
    margin-right: 0; }
  .soc__link--twitter {
    background: url(../img/icon-twitter.svg) center no-repeat; }
  .soc__link--facebook {
    background: url(../img/icon-facebook.svg) center no-repeat; }
  .soc__link--youtube {
    background: url(../img/icon-youtube.svg) center no-repeat; }
  .soc__link:hover {
    border-color: #263341; }
  .soc__link:active {
    opacity: .1; }

.soc__link:nth-child(3) ~ a {
  margin-top: 10px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx){
  .header{
    background-image: url(../img/bg-back-mobile@2x.jpg); } }

@media (min-width: 660px){
  .header{
    background: url(../img/bg-back-tablet@1x.jpg) no-repeat;
    background-size: cover; }
  .header__hand-mobile{
    display: none; }
  .header__intro-text{
    padding-bottom: 105px;
    width: 500px; }
  .header__intro-text h1{
    font-size: 50px;
    line-height: 61px; }
  .header__intro-text--form-page{
    padding-bottom: 45px;
    padding-top: 36px; }
  .menu__logo{
    padding: 28px 0 42px 41px; }
  .menu__logo-svg--tablet{
    display: block; }
  .menu__logo-svg--mobile{
    display: none; }
  .menu--closed .menu__list{
    position: absolute; }
  .menu__toggle{
    top: 45px;
    right: 40px; }
  .menu__list{
    position: absolute;
    z-index: 10; }
  .app-download__inner{
    width: 620px; }
  .app-download{
    width: 280px;
    margin: 0 auto;
    background: url(../img/iphone-hand-tablet@1x.png) no-repeat center bottom;
    background-size: auto 550px;
    padding-top: 46px;
    padding-bottom: 75px;
    margin-top: 0; }
  .app-download__inner{
    width: 300px;
    margin: 0; }
  .app-download__intro-text{
    display: block;
    width: 186px;
    margin-bottom: 33px; }
  .app-download__intro-text h1{
    font-family: "Open Sans Light", Arial, "sans-serif";
    font-size: 40px;
    line-height: 48px; }
  .app-download__intro-text--hide-mobile{
    display: block; }
  .app-download__list{
    margin-bottom: 37px; }
  .app-download__link{
    width: 300px;
    margin: 0 auto 43px auto; }
  .app-download__desc{
    font-size: 18px; }
  .info-app__title{
    width: 620px; }
  .info-app__inner{
    width: 620px; }
  .info-app{
    padding-top: 48px; }
  .info-app__title{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 52px; }
  .info-app__sub-title{
    padding: 0; }
  .info-app__inner{
    display: flex;
    flex-direction: row-reverse; }
  .info-app__text-list{
    padding-top: 53px;
    padding-left: 9px;
    width: 320px; }
  .info-app__item{
    margin-bottom: 34px; }
  .info-app__screen-mobile{
    height: 480px;
    width: 270px;
    margin-right: 30px; }
  .info-app__text-title{
    margin-bottom: 14px; }
  .info-app__text{
    width: 310px;
    text-align: left; }
  .info-app__text:last-child{
    margin-bottom: 0; }
  .form-page__title{
    width: 620px; }
  .form-page{
    width: 280px;
    margin: 0 auto;
    padding-top: 77px; }
  .form-page__title{
    padding-bottom: 53px;
    width: 500px;
    margin: 0 auto; }
  .form-page__title h2{
    font-size: 18px; }
  .form-page__sub-title{
    display: block; }
  .form__container{
    width: 620px; }
  .form{
    flex-wrap: wrap;
    flex-direction: row;
    width: 280px;
    margin: 0 auto; }
  .form__bg-brown-inner{
    background-color: #fff; }
  .form__fieldset{
    border: 1px solid #e5e5e5;
    margin-bottom: 60px;
    padding-top: 0;
    width: 100%; }
  .form__fieldset--initials{
    border: none;
    order: -3;
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0; }
  .form__fieldset--app{
    background-color: #fff;
    order: -2;
    padding-bottom: 11px; }
  .form__fieldset--progress{
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 53px; }
  .form__fieldset--contacts{
    display: block;
    padding: 44px 76px 30px 59px;
    order: -1;
    margin-bottom: 58px; }
  .form__fieldset > legend{
    top: -11px;
    background: white; }
  .form__fieldset > .form__legend-style--textarea{
    top: -11px; }
  .form__fieldset > .form__legend-style--show{
    display: block; }
  .form__container{
    margin-right: 0;
    margin-left: 0;
    width: auto; }
  .form__field-inner{
    margin-bottom: 53px; }
  .form__field-inner--initials{
    flex-direction: row; }
  .form__field-inner--contacts{
    margin-bottom: 31px; }
  .form__input-icon-inner{
    position: relative;
    z-index: 1;
    margin-left: 17px; }
  .form__input-icon-inner:before, .form__input-icon-inner::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    z-index: -2; }
  .form__input-icon-inner--tel::after{
    background: url(../img/icon-phone.svg) center no-repeat; }
  .form__input-icon-inner--email::after{
    background: url(../img/icon-mail.svg) center no-repeat; }
  .form__input-text{
    margin-left: 18px;
    width: 100%; }
  .form__input-text--contacts-field{
    margin-bottom: 9px;
    margin-left: 0;
    padding-right: 75px;
    position: relative;
    background-color: transparent; }
  .form__legend-style{
    padding: 0 30px; }
  .form__legend-style--show{
    display: block; }
  .form__input-title{
    padding: 0; }
  .form__input-title--initials{
    margin-top: 16px; }
  .form__input-title--contacts{
    padding-left: 35px;
    order: 2; }
  .form__label-radio{
    margin-bottom: 47px; }
  .form__label-radio:first-of-type{
    margin-top: 56px; }
  .form__radio-app + .form__label-radio{
    padding-left: 60px;
    margin-left: 47px; }
  .form__label-progress{
    margin-left: 47px;
    margin-bottom: 52px;
    padding-left: 60px; }
  .form__textarea{
    display: block;
    width: 500px;
    min-height: 192px;
    margin: 0 auto;
    margin-bottom: 45px;
    margin-top: 44px;
    font-size: 18px;
    padding: 15px;
    color: #283645; }
  .form__text-required{
    line-height: 63px;
    vertical-align: middle;
    margin-right: 0;
    text-align: right; }
  .form__notice{
    width: 460px;
    box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.15), -7px 7px 15px 0 rgba(0, 0, 0, 0.15); }
  .form__notice-title{
    font-size: 30px;
    width: 215px;
    margin-right: auto;
    margin-left: auto; }
  .form__notice-text{
    width: 300px;
    font-size: 18px;
    line-height: 24px; }
  .form-button{
    width: 300px;
    margin-left: 0; }
  .form-button--notice{
    margin: 0 auto; }
  .gallery__text{
    width: 620px; }
  .gallery__caption{
    width: 620px; }
  .gallery__list{
    width: 620px; }
  .gallery__post--day{
    width: 620px; }
  .gallery{
    margin-top: 93px;
    margin-bottom: 40px; }
  .gallery__text{
    width: 560px;
    margin-bottom: 76px; }
  .gallery__text p{
    font-size: 18px; }
  .gallery__caption::before{
    top: 60px; }
  .gallery__note{
    width: 300px;
    font-size: 14px; }
  .gallery__note--day{
    width: 100%;
    margin-bottom: 49px; }
  .gallery__post{
    min-height: 155px;
    padding: 0 29px;
    padding-top: 20px;
    padding-bottom: 25px; }
  .gallery__post--day{
    min-height: 120px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 21px; }
  .gallery__post-info--day{
    order: -2;
    height: 20px; }
  .gallery__like{
    padding-left: 0;
    font-size: 12px;
    height: 20px; }
  .gallery__like--day{
    order: -1;
    margin-top: 0;
    margin-left: auto;
    justify-content: flex-end;
    width: 200px; }
  .gallery__like-total{
    text-transform: uppercase; }
  .gallery__time{
    text-transform: uppercase; }
  .gallery__like-heart{
    order: 2;
    margin-right: 0;
    margin-left: auto; }
  .gallery__like-heart--day{
    margin-left: 15px; }
  .price{
    padding-top: 8px;
    background-color: #f2f2f2;
    padding-bottom: 0; }
  .price th,
    .price td{
    padding: 12px 18px 7px 19px; }
  .price__table-control{
    display: none; }
  .price__inner{
    width: 280px;
    margin: 0 auto; }
  .price__table{
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 82px;
    width: 620px; }
  .price__table--active{
    transform: translateX(0); }
  th.price__hide-td{
    display: block;
    border-left: none; }
  .price__row:first-child .price__item:first-child{
    border-top: 2px solid #e5e5e5; }
  td.price__item{
    padding: 5px 17px 7px 15px;
    border-top-color: transparent;
    border-right-color: transparent; }
  .price__item{
    border-top-color: transparent;
    border-right-color: transparent;
    text-transform: none; }
  .price__item--hide{
    display: block; }
  .price__item--mobile{
    display: none; }
  .price__tariff-option{
    width: 157px;
    border-left: none;
    padding: 12px 0 5px 0; }
  .price__tariff-option--standart::before{
    left: -38px; }
  .price__tariff-option--standart::after{
    left: 8px;
    top: 5px; }
  .price__tariff-option:last-child{
    border-right: none; }
  .price__checked{
    text-align: center;
    background-position: center; }
  .price__tarrif-name{
    font-size: 16px; }
  .price__tarrif-value{
    font-size: 18px;
    line-height: 1; }
  .research{
    padding-top: 57px;
    display: block; }
  .research h2{
    font-family: "Open Sans Bold", Arial, "sans-serif";
    font-size: 30px;
    color: #000;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 23px;
    width: 175px; }
  .research p{
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0; }
  .research__inner{
    width: 280px;
    margin: 0 auto;
    padding-left: 309px;
    padding-top: 12px;
    padding-bottom: 77px;
    position: relative; }
  .research__inner::before{
    content: "24";
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 277px;
    background: url(../img/icon-editor-diagram-fill.svg) center 60px no-repeat, url(../img/icon-timer.svg) center no-repeat;
    background-size: 178px 198px, 240px auto;
    font-family: "Open Sans Bold", Arial, "sans-serif";
    font-size: 96px;
    text-align: center;
    vertical-align: middle;
    color: #d22856;
    line-height: 300px; }
  .research__link{
    color: #d22856;
    display: block;
    font-size: 14px;
    line-height: 24px; }
  .reivew{
    width: 620px; }
  .reivew{
    padding-top: 33px;
    padding-bottom: 15px; }
  .reivew__item{
    display: flex;
    flex-direction: column; }
  .reivew__autor-info{
    display: block; }
  .reivew__article{
    position: relative;
    order: -1;
    font-size: 18px; }
  .reivew__autor-inner{
    padding-top: 37px;
    padding-bottom: 0; }
  .reivew__autor-name{
    font-size: 20px; }
  .reivew__controller{
    margin-top: 28px; }
  .upload-btn{
    width: 260px;
    margin: 0 auto;
    margin-bottom: 20px; }
  .upload-btn:last-of-type{
    margin: 0 auto; }
  .upload-photo__inner{
    width: 620px; }
  .upload-photo__inner{
    padding-bottom: 16px;
    padding-top: 41px;
    display: flex;
    width: 280px;
    margin: 0 auto; }
  .upload-photo__title{
    font-size: 18px;
    padding-bottom: 66px;
    line-height: 1.85; }
  .upload-photo__img-prew{
    width: 300px;
    height: 400px;
    margin-right: 45px;
    margin-top: 17px; }
  .upload-photo__filter{
    width: 275px; }
  .upload-photo__filter-list{
    width: 280px;
    margin-bottom: 64px;
    flex-direction: column;
    min-height: 200px;
    padding-bottom: 0; }
  .upload-photo__filter-item{
    width: 275px;
    height: 73px;
    border-bottom: 1px solid #DDE0E1; }
  .upload-photo__filter-item:first-of-type{
    padding-top: 2px; }
  .upload-photo__filter-icon{
    margin: 0;
    margin-left: 8px;
    cursor: default; }
  .upload-photo__filter-icon--cut{
    width: 22px;
    height: 22px; }
  .upload-photo__filter-icon--fill{
    width: 24px;
    height: 22px; }
  .upload-photo__filter-icon--brightness{
    width: 16px;
    height: 16px; }
  .upload-photo__icons-svg:hover .upload-photo__icons-color--disabled{
    opacity: 1; }
  .upload-photo__icons-color--disabled{
    fill: #d22856;
    opacity: 1; }
  .upload-photo__range{
    width: 202px;
    display: block;
    margin: 0 18px 0 auto;
    position: relative; }
  .upload-photo__range--active{
    bottom: auto;
    right: auto;
    left: auto;
    transform: none; }
  .upload-photo__range-circle--cut{
    right: 40px; }
  .upload-photo__range-circle--fill{
    left: 34px; }
  .upload-photo__range-circle--brightness{
    left: 105px; }
  .contacts{
    width: 620px; }
  .contacts p{
    font-size: 40px;
    width: 380px;
    margin-bottom: 44px; }
  .contacts__inner{
    display: flex;
    flex-wrap: wrap; }
  .contacts__title{
    text-transform: none; }
  .contacts__tel,
  .contacts__mail,
  .contacts__address{
    width: 300px;
    margin-bottom: 0; }
  .contacts__address{
    margin: auto;
    margin-top: 45px;
    padding: 0 2px; }
  .map{
    height: 405px;
    background-image: url(../img/bg-map-tablet@1x.jpg); }
  .map__bg-triangle{
    height: 72px; }
  .footer{
    width: 620px; }
  .footer{
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between; }
  .footer--hide{
    display: flex; }
  .footer__logo{
    padding: 0; }
  .soc{
    margin: 0; } }

@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx){
  .header{
    background-image: url(../img/bg-back-tablet@2x.jpg); }
  .app-download{
    background-image: url(../img/iphone-hand-tablet@2x.png); } }

@media (min-width: 960px){
  .header{
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: cover; }
  .header__inner{
    background-color: rgba(29, 38, 49, 0.5); }
  .header__intro-text{
    padding-top: 30px;
    padding-bottom: 66px;
    width: 820px; }
  .header__intro-text h1{
    font-size: 50px; }
  .menu{
    width: 940px;
    margin: 0 auto;
    background-color: transparent; }
  .menu:after{
    content: "";
    display: table;
    clear: both; }
  .menu__logo{
    padding-left: 0;
    padding-top: 22px;
    float: left; }
  .menu__logo-svg--tablet{
    display: none; }
  .menu__logo-svg--desktop{
    display: block; }
  .menu--closed .menu__list{
    position: relative; }
  .menu__toggle{
    display: none; }
  .menu__list{
    width: 625px;
    padding-top: 30px;
    position: static;
    background-color: transparent;
    font-size: 0;
    margin-left: auto;
    text-align: left; }
  .menu__item{
    display: inline-block;
    vertical-align: top;
    border: none;
    font-size: 18px;
    text-transform: none;
    border-top: none;
    box-shadow: none;
    height: 34px;
    margin-right: 80px; }
  .menu__item a{
    font-family: "Open Sans", Arial, "sans-serif";
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 4px;
    line-height: 1; }
  .menu__item a:hover{
    border-bottom: 2px solid #fff;
    color: #d22856; }
  .menu__item a:active{
    color: rgba(255, 255, 255, 0.3);
    border-bottom: none; }
  .menu__item:nth-child(4n), .menu__item:last-child{
    margin-right: 0; }
  .menu__item--active a:hover{
    border-bottom: 2px solid #d22856;
    color: #fff; }
  .menu__item--active a:active{
    color: rgba(255, 255, 255, 0.3);
    border-bottom: none; }
  .app-download__inner{
    width: 940px; }
  .app-download{
    padding-top: 87px;
    padding-bottom: 89px;
    background-image: url(../img/iphone-hand-desktop@1x.png);
    background-size: contain; }
  .app-download__inner{
    width: 300px;
    padding-top: 0; }
  .app-download__link{
    margin-bottom: 64px;
    font-size: 21px;
    padding: 14px 0; }
  .app-download__intro-text{
    width: 240px;
    margin-bottom: 48px; }
  .app-download__intro-text h1{
    font-size: 50px;
    line-height: 62px; }
  .app-download__list{
    margin-bottom: 55px; }
  .info-app__title{
    width: 940px; }
  .info-app__inner{
    width: 940px; }
  .info-app{
    padding-top: 68px; }
  .info-app__title{
    font-size: 50px;
    margin-bottom: 74px; }
  .info-app__inner{
    flex-direction: row;
    padding-top: 0; }
  .info-app__screen-mobile{
    display: none; }
  .info-app__text-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0; }
  .info-app__item{
    width: 300px;
    margin-right: 10px; }
  .info-app__text-title{
    font-size: 30px;
    line-height: 1;
    margin-bottom: 24px; }
  .info-app__text{
    text-align: center;
    padding: 0 32px; }
  .info-app__text p{
    font-size: 18px;
    line-height: 30px; }
  .info-app__img{
    display: block;
    height: 302px;
    overflow: hidden;
    margin-bottom: 56px; }
  .form-page__title{
    width: 940px; }
  .form-page{
    padding-top: 77px; }
  .form-page__title{
    width: 790px;
    padding-bottom: 56px; }
  .form-page__sub-title{
    display: inline; }
  .form__container{
    width: 940px; }
  .form__fieldset{
    margin-right: 0;
    margin-left: 0;
    padding: 0; }
  .form__fieldset--initials{
    width: 450px;
    margin-right: 50px;
    order: -3;
    padding: 0;
    padding-top: 5px; }
  .form__fieldset--app{
    width: 440px;
    order: -2;
    padding-bottom: 20px;
    margin-bottom: 68px; }
  .form__fieldset--contacts{
    width: 100%;
    order: -1;
    padding-top: 42px;
    padding-bottom: 14px;
    margin-bottom: 68px; }
  .form__fieldset--progress{
    min-height: 240px;
    padding-top: 45px;
    margin-bottom: 58px; }
  .form__fieldset--textarea{
    width: 100%; }
  .form__container{
    width: auto; }
  .form__container--progress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .form__input-title--contacts{
    padding-left: 80px; }
  .form__input-icon-inner{
    margin-left: 40px; }
  .form__input-text{
    width: 345px; }
  .form__input-text--size-w{
    width: 382px; }
  .form__input-text--contacts-field{
    width: 370px; }
  .form__field-inner{
    text-align: left;
    width: 440px; }
  .form__field-inner--contacts{
    margin-right: 80px;
    width: 376px;
    margin-bottom: 0;
    float: left; }
  .form__field-inner--contacts:last-child{
    margin-right: 0; }
  .form__input-icon-inner::before, .form__input-icon-inner::after{
    right: -33px; }
  .form__label-radio{
    margin-bottom: 43px; }
  .form__label-radio:first-of-type{
    margin-top: 60px; }
  .form__radio-app + .form__label-radio{
    padding-left: 59px;
    margin-left: 79px; }
  .form__label-progress{
    width: 264px;
    margin-bottom: 43px;
    margin-left: 40px;
    margin-top: 0; }
  .form__checkbox-progress + .form__label-progress:first-child{
    order: 6; }
  .form__checkbox-progress + .form__label-progress:nth-child(3){
    order: 5; }
  .form__checkbox-progress + .form__label-progress:nth-child(5){
    order: 4; }
  .form__textarea{
    width: 820px;
    margin-top: 40px;
    margin-bottom: 45px;
    min-height: 125px; }
  .form__notice--sent{
    width: 780px; }
  .form__inner-notice{
    width: 390px; }
  .form__title-sent{
    width: auto; }
  .form-button{
    width: 300px;
    margin-bottom: 0; }
  .form-button--notice-sent{
    width: 460px; }
  .gallery__text{
    width: 940px; }
  .gallery__caption{
    width: 940px; }
  .gallery__list{
    width: 940px; }
  .gallery__post--day{
    width: 940px; }
  .gallery{
    margin-bottom: 0; }
  .gallery__text{
    width: 575px;
    margin-bottom: 86px; }
  .gallery__caption::before{
    top: 55px; }
  .gallery__note{
    width: 300px;
    margin-bottom: 55px; }
  .gallery__note--day{
    width: 100%;
    margin-bottom: 50px; }
  .gallery__post--day{
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 25px; }
  .price{
    padding-top: 74px; }
  .price th{
    padding-top: 18px;
    padding-bottom: 19px; }
  .price td{
    padding: 10px 17px 17px 17px; }
  .price__table{
    margin-bottom: 95px;
    width: 100%; }
  .price__item{
    font-size: 18px; }
  .price__tariff-option{
    width: 236px;
    padding: 16px 0 18px 0; }
  .price__tariff-option--standart::after{
    left: 8px;
    top: 8px; }
  .price__tarrif-name{
    font-size: 18px; }
  .price__tarrif-value{
    font-size: 24px; }
  .research{
    background-color: #f2f2f2;
    padding-top: 5px; }
  .research p{
    font-size: 18px;
    line-height: 30px; }
  .research h2{
    width: 305px;
    margin-top: 30px;
    margin-bottom: 17px; }
  .research__inner{
    padding: 60px 0 116px 365px; }
  .research__inner:before{
    width: 298px;
    height: 345px;
    background-size: 253px 253px, 298px auto;
    background-position: center 70px, center;
    line-height: 380px;
    font-size: 120px; }
  .research__link{
    font-size: 18px;
    margin-top: 34px; }
  .reivew{
    width: 940px; }
  .reivew{
    padding-bottom: 20px;
    position: relative; }
  .reivew__article{
    padding-top: 140px;
    width: 680px;
    margin: 0 auto; }
  .reivew__article::before{
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    right: 50%;
    width: 79px;
    height: 63px;
    transform: translateX(-50%);
    font-size: 80px;
    background: url(../img/icon-quotes.svg) center no-repeat;
    background-size: 79px 63px; }
  .reivew__autor-inner{
    padding-top: 35px; }
  .reivew__autor-name{
    font-size: 24px; }
  .reivew__autor-info{
    font-size: 18px; }
  .reivew__arrow-control{
    display: block; }
  .reivew__arrow{
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;
    top: 50%;
    cursor: pointer;
    opacity: .3; }
  .reivew__arrow--prew{
    background: url(../img/icon-review-arrow-left.svg) no-repeat;
    left: 0; }
  .reivew__arrow--next{
    background: url(../img/icon-review-arrow-right.svg) no-repeat;
    right: 0; }
  .reivew__arrow:hover{
    opacity: 1; }
  .reivew__arrow:active{
    opacity: .1; }
  .reivew__controller{
    display: none; }
  .upload-btn{
    width: 185px;
    margin: 0;
    float: left;
    margin-right: 40px; }
  .upload-photo__inner{
    width: 940px; }
  .upload-photo{
    background: none;
    width: 940px;
    margin: 0 auto; }
  .upload-photo__title{
    margin-top: 0; }
  .upload-photo__inner{
    background: #f2f2f2;
    width: auto;
    margin: 0;
    padding-top: 36px;
    margin-bottom: 34px; }
  .upload-photo__img-prew{
    margin-left: 80px;
    margin-right: 91px; }
  .upload-photo__filter{
    width: 410px;
    margin-bottom: 20px; }
  .upload-photo__filter-list{
    width: 410px;
    margin-bottom: 145px; }
  .upload-photo__filter-item{
    width: 410px; }
  .upload-photo__filter-icon{
    height: 48px;
    margin-left: 0; }
  .upload-photo__filter-icon--fill{
    width: 44px; }
  .upload-photo__filter-icon--cut{
    width: 48px; }
  .upload-photo__filter-icon--brightness{
    width: 32px;
    margin-left: 6px; }
  .upload-photo__range{
    width: 290px;
    margin-right: 30px; }
  .upload-photo__range-circle--cut{
    right: 200px; }
  .upload-photo__range-circle--fill{
    left: 248px; }
  .upload-photo__range-circle--brightness{
    left: 161px; }
  .contacts{
    width: 940px; }
  .contacts{
    padding-top: 63px; }
  .contacts p{
    font-size: 50px;
    width: 480px;
    margin-bottom: 54px; }
  .contacts__inner{
    justify-content: space-around; }
  .contacts__text{
    padding-top: 21px;
    display: block; }
  .contacts__title{
    text-transform: none; }
  .contacts__tel{
    width: 210px;
    order: 1; }
  .contacts__address{
    margin: 0;
    width: 220px;
    order: 2; }
  .contacts__mail{
    width: 245px;
    order: 3; }
  .map{
    height: 523px;
    background-image: url(../img/bg-map-tablet@1x.jpg); }
  .map__bg-triangle{
    height: 125px; }
  .footer{
    width: 940px; }
  .footer{
    padding: 70px 0; }
  .footer__logo-svg{
    display: none; }
  .footer__logo-desktop{
    display: block; }
  .footer__copy{
    width: 170px; }
  .footer__copy span{
    font-size: 18px; } }

@media (max-width: 960px){
  .menu--closed .menu__list{
    display: none; }
  .menu--closed .menu__item{
    display: none; } }

@media (min-width: 660px) and (min-width: 660px){
  .app-download{
    width: 620px; }
  .form-page{
    width: 620px; }
  .form{
    width: 620px; }
  .price__inner{
    width: 620px; }
  .research__inner{
    width: 620px; }
  .upload-photo__inner{
    width: 620px; } }

@media (min-width: 660px) and (min-width: 960px){
  .app-download{
    width: 940px; }
  .form-page{
    width: 940px; }
  .form{
    width: 940px; }
  .price__inner{
    width: 940px; }
  .research__inner{
    width: 940px; }
  .upload-photo__inner{
    width: 940px; } }

@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx){
  .app-download{
    background-image: url(../img/iphone-hand-desktop@2x.png); } }
